 body{background-color:#fffacd}

 .pannel{
      font-style:mistral ; font-family:mistral; font-size:30px; color:black
 }
.pannel>li>a:hover{ color:black; background-color:black}

.active{font-style:mistral ; font-family:mistral; font-size:30px }

#main{
    margin:0px;
}

#preview{

}
hr{
    margin:6px
}
div{
    padding:0
}

textarea{
    width:480px;
    font-family:cursive;
    height: 100px;
}

button, html input[type=button], input[type=reset], input[type=submit]{
    width:480px;
    font-family:cursive;

}
label {
text-align:left;
}
