{% extends "base.html" %}

{% block pannel %}
   <ul class="nav nav-tabs" style=" font-size: large;width:1200px" >
            <li  class="active"  style = "width: 16%"><a href="/mainnews/">Главная</a></li>
            <li  class ="pannel" style = "width: 16%"><a href="/science/">Наука</a></li>
            <li class = "pannel" style = "width: 16%"><a href="/bussiness/">Бизнес</a></li>
            <li class = "pannel" style = "width: 16%"><a href="/society/">Общество</a></li>
            <li class = "pannel" style = "width: 16%"><a href="/policy/">Политика</a></li>
            <li class = "pannel" style = "width: 16%"><a href="/culture/">Культура</a></li>

        </ul>
        <br>
{% endblock %}

