<!DOCTYPE HTML>

<html>

<head>
  <title>Untitled</title>


</head>

<body bgcolor = #fffacd >
    <center>
        <table  bgcolor = #fffacd width = "1000" height = "150" >
            <tr><td background = "logo2.png"></td></tr>
        </table>
        <table width = "1200" height = "20"  >
            <tr><td><font size = "6" face = "mistral ">НАУКА</font></td>
                <td><font size = "6" face = "mistral ">ПОЛИТИКА</font></td>
                <td><font size = "6" face = "mistral ">ОБРАЗОВАНИЕ</font></td>
                <td><font size = "6" face = "mistral ">ОБЩЕСТВО</font></td>
                <td><font size = "6" face = "mistral ">КУЛЬТУРА</font></td></tr>
        </table>
        <hr style="width: 1570px; height: 1px; background-color: grey; border: none">
        <table border = "1"  bordercolor= "white" width = "1570" height = "390" cellpading = "0">
            <tr ><td background= "mainnews1.jpg" >Main_news_1</td>
            <td background = "main_theme_society.jpg" >Main_news_2</td></tr>
        </table>
        <hr style="width: 1560px; height: 1px; background-color: grey; border: none">
        <table border ="1" width = "1570" height = "145"cellspacing = "0">
            <tr><td  background = "main_news_science.jpg"></td>
                <td  background = "main_politics.jpg"</td>
                <td  background = "main_education.jpg"></td>
                <td  background = "main_news_society.jpg" ></td>
                <td  background ="main_news_culture.jpg"></td>
            </tr>
        </table>
        <hr style="width: 1580px; height: 1px; background-color: grey; border: none">



      </center>
</body>

</html>