<!DOCTYPE HTML>
{% extends "base_main.html" %}
{% load staticfiles %}
{% block content %}
        <div class="container" >
            <div class="row" id ="main" >
                <div class="col-lg-6 "style="background-color:white; width:568px; height:350px; padding:0; ">
                    {% if mainnews1 %}
                        <a href="/mainnews/{{mainnews1.id}}/"><img src="{{mainnews1.image.url}}" width="100%" height="100%" alt=""></a>
                    {% else %}
                        <p>No</p>
                    {% endif %}
                </div>
                <div class="col-lg-6" style="background-color:red;width:568px; height:350px; padding:0; margin-left:2px">
                    {% if mainnews2 %}
                            <a href="/mainnews/{{mainnews2.id}}/"><img src="{{mainnews2.image.url}}" width="100%" height="100%" alt=""></a>

                    {% else %}
                        <p>No</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr style="width: 1200px; height: 1px; background-color: #dcdcdc; border: none">

        <div class="container">
            <div class="row" id ="main"  >
                <div class="col-lg-3 "style="background-color:white; width:284px; height:180px; padding:0">
                    {% if mainnews3 %}
                    <a href="/mainnews/{{mainnews3.id}}/"><img src="{{mainnews3.image.url}}" width="100%" height="100%" alt=""></a>
                    {% else %}
                        <p>No</p>
                    {% endif %}</div>
                <div class="col-lg-3" style="background-color:red;width:284px; height:180px; padding:0; margin-left:1px">
                    {% if mainnews4 %}
                        <a href="/mainnews/{{mainnews4.id}}/"><img src="{{mainnews4.image.url}}" width="100%" height="100%" alt=""></a>
                    {% else %}
                        <p>No</p>
                    {% endif %}</div>
                <div class="col-lg-3" style="background-color:orange;width:284px; height:180px; padding:0; margin-left:2px">
                    {% if mainnews5 %}
                        <a href="/mainnews/{{mainnews5.id}}/"><img src="{{mainnews5.image.url}}" width="100%" height="100%" alt=""></a>
                    {% else %}
                        <p>No</p>
                    {% endif %}</div>
                <div class="col-lg-3" style="background-color:blue;width:284px; height:180px; padding:0; margin-left:1px">
                    {% if mainnews6 %}
                        <a href="/mainnews/{{mainnews6.id}}/"><img src="{{mainnews6.image.url}}" width="100%" height="100%" alt=""></a>
                    {% else %}
                        <p>No</p>
                    {% endif %}</div>
            </div>
        </div>
        <hr style="width: 1200px; height: 1px; background-color: #dcdcdc; border:none">

        <div class="container" >
            <div class="row" id ="main" >
                <div class="col-lg-6 "style="background-color:#fffacd; width:568px; height:425px; padding:0">
                    <a name="science">
                        <ul class="list-group" style= "margin:0">
                            <li class="list-group-item list-group-item-success" style="font-family:mistral; font-size:40px; padding:1px; color:black">Наука</li>
                        </ul>
                    </a>
                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;padding:0">
                            {% if science1 %}
                                <a href="/science/{{science1.id}}/"><img src="{{science1.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>
                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px;padding:0">
                        {% if science2 %}
                                <a href="/science/{{science2.id}}/"><img src="{{science2.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>

                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;margin-top:2px;padding:0">
                        {% if science3 %}
                                <a href="/science/{{science3.id}}/"><img src="{{science3.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>
                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px; margin-top:2px;padding:0">
                            {% if science4 %}
                                <a href="/science/{{science4.id}}/"><img src="{{science4.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>

                </div>

                <div class="col-lg-6 "style="background-color:white; width:568px; height:350px; padding:0; margin-left:2px">
                    <a name="political">
                        <ul class="list-group" style= "margin:0">
                            <li class="list-group-item list-group-item-success" style="font-family:mistral; font-size:40px; padding:1px; color:black">Бизнес</li>
                        </ul>
                    </a>
                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;padding:0">
                            {% if bussiness1 %}
                                <a href="/bussiness/{{bussiness1.id}}/"><img src="{{bussiness1.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>

                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px;padding:0">
                            {% if bussiness2 %}
                                <a href="/bussiness/{{bussiness2.id}}/"><img src="{{bussiness2.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>

                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;margin-top:2px;padding:0">
                            {% if bussiness3 %}
                                <a href="/bussiness/{{bussiness3.id}}/"><img src="{{bussiness3.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>
                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px; margin-top:2px;padding:0">
                            {% if bussiness4 %}
                                <a href="/bussiness/{{bussiness4.id}}/"><img src="{{bussiness4.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>

                </div>
            </div>
        </div>
        <hr style="width: 1200px; height: 1px; background-color: #dcdcdc; border:none">
        <div class="container" >
            <div class="row" id ="main" >
                <div class="col-lg-6 "style="background-color:#fffacd; width:568px; height:412px; padding:0;margin-bottom:12px">
                <a name="education">
                    <ul class="list-group" style= "margin:0">
                        <li class="list-group-item list-group-item-success" style="font-family:mistral; font-size:40px; padding:1px; color:black">Общество</li>
                    </ul>
                </a>
                    <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;padding:0">
                            {% if society1 %}
                                <a href="/society/{{society1.id}}/"><img src="{{society1.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                    </div>
                    <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px;padding:0">
                            {% if society2 %}
                                <a href="/society/{{society2.id}}/"><img src="{{society2.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                    </div>

                    <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;margin-top:2px;padding:0">
                            {% if society3 %}
                                <a href="/society/{{society3.id}}/"><img src="{{society3.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                    </div>
                    <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px; margin-top:2px;padding:0">
                            {% if society4 %}
                                <a href="/society/{{society4.id}}/"><img src="{{society4.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                    </div>

                </div>

                <div class="col-lg-6 "style="background-color:white; width:568px; height:412px; padding:0; margin-left:2px">
                    <a name="culture">
                        <ul class="list-group" style= "margin:0">
                            <li class="list-group-item list-group-item-success" style="font-family:mistral; font-size:40px; padding:1px; color:black">Политика</li>
                        </ul>
                    </a>
                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;padding:0">
                            {% if policy1 %}
                                <a href="/policy/{{policy1.id}}/"><img src="{{policy1.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>

                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px;padding:0">
                            {% if policy2 %}
                                <a href="/policy/{{policy2.id}}/"><img src="{{policy2.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>

                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;margin-top:2px;padding:0">
                            {% if policy3 %}
                                <a href="/policy/{{policy3.id}}/"><img src="{{policy3.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>
                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px; margin-top:2px;padding:0">
                            {% if policy4 %}
                                <a href="/policy/{{policy4.id}}/"><img src="{{policy4.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                        </div>

                </div>
            </div>
        </div>

        <hr style="width: 1200px; height: 1px; background-color: #dcdcdc; border:none; ">
        <div class="container" >
            <div class="row" id ="main" >
                <div class="col-lg-6 "style="background-color:#fffacd; width:568px; height:412px; padding:0">
                <a name="education">
                    <ul class="list-group" style= "margin:0">
                        <li class="list-group-item list-group-item-success" style="font-family:mistral; font-size:40px; padding:1px; color:black">Культура</li>
                    </ul>
                </a>
                    <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;padding:0">
                            {% if culture1 %}
                                <a href="/culture/{{culture1.id}}/"><img src="{{culture1.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                    </div>
                    <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px;padding:0">
                            {% if culture2 %}
                                <a href="/culture/{{culture2.id}}/"><img src="{{culture2.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                    </div>

                    <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;margin-top:2px;padding:0">
                            {% if culture3 %}
                                <a href="/culture/{{culture3.id}}/"><img src="{{culture3.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                    </div>
                    <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px; margin-top:2px;padding:0">
                            {% if culture4 %}
                                <a href="/culture/{{culture4.id}}/"><img src="{{culture4.image.url}}" width="100%" height="100%" alt=""></a>
                            {% else %}
                                <p>No</p>
                            {% endif %}
                    </div>

                </div>

                <div class="col-lg-6 "style="background-color:white; width:568px; height:412px; padding:0; margin-left:2px">
                    <a name="culture">
                        <ul class="list-group" style= "margin:0">
                            <li class="list-group-item list-group-item-success" style="font-family:mistral; font-size:40px; padding:1px; color:black">Реклама</li>
                        </ul>
                    </a>
                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;padding:0">
                        <img src="{% static "static/img/main_news_culture.jpg" %}"  width="100%" height="100%" alt="">
                        </div>

                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px;padding:0">
                        <img src="{% static "static/img/main_news_culture.jpg" %}"  width="100%" height="100%" alt="">
                        </div>

                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px;margin-top:2px;padding:0">
                        <img src="{% static "static/img/main_news_culture.jpg" %}"  width="100%" height="100%" alt="">
                        </div>
                        <div class="col-lg-6 "style="background-color:red; width:283px; height:180px; margin-left:2px; margin-top:2px;padding:0">
                         <img src="{% static "static/img/main_news_culture.jpg" %}"  width="100%" height="100%" alt="">
                        </div>

                </div>
            </div>
        </div>
        <br>
        <a href="#"><button type="button" class="btn btn-primary btn-lg">Вверх</button></a>
{% endblock %}
