<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Start page</title>
<link rel="stylesheet" href="my_style.css" type="text/css"></link>
</head>

<body>
<center>
    <table >
        <tr height="100"><td colspan="5">{{current_datetime}}</tr>
        <tr height="80">
<td width="20%">Наука</td>
<td width="20%">Политика</td>
<td width="20%">Общество</td>
<td width="20%">Образование</td>
<td width="20%">Культура</td>
        </tr>
        <tr height="400">

        </tr>
    </table>
</center>
</body>
</html>
